header {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: lightgray;
}

header>nav>ul {
    display: flex;
    list-style: none;
}

header>nav>ul>li {
    margin: 0 8px;
}

nav a {
    text-decoration: none;
}

main {
    padding: 16px 160px;
}

article {
    padding: 8px;
}

article > figure > img {
    width: 100%;
    height: auto;
}